<!DOCTYPE html>
<html>
  <head>
    <title>passport</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>authenticate</h1>
    <p>authentication is failure</p>
    <a href="">logout</a>
  </body>
</html>