<!DOCTYPE html>
<html>

<head>
    <title>passport</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <form action="/users/register" method="POST">
        <h1>Register</h1>
        <% if(error){ %>
            <p class="">
                <%= error %>
            </p>
            <% } %>
                <input type="text" name="name" placeholder="Enter name">
                <input type="email" name="email" placeholder="Enter email">
                <input type="password" name="password" placeholder="Enter password">
                <input type="submit" value="register">
    </form>
</body>

</html>